.checked-item{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 19px 32px;
    border-top: 1px solid #DFE0EB;
}
.checked-input{
    margin-right: 16px;
}
.checked-text{
    width: 336px;
    margin: 0;
    margin-right: 36px;

}
.button{
    margin-left: auto;
}
